    {% if context is not defined %} {% set context="home" %}{% endif %}
    
    <!-- begin header -->
    <header id="header" class="clearfix">
        <section id="page-title">
            <div class="page-header wrap clearfix">
                <!-- begin logo -->
                <div id="logo">
                    <a href="."><img src="{{asset('images/logo-hd.png')}}" alt="La ferme de l'hort, producteur de fromages de chêvres"></a>
                </div>
                <!-- end logo -->
                <h1>
                    &nbsp;<i class="icon-cogs"></i> Administration
                </h1>
            </div>
        </section>
    </header>
    <!-- end header -->