    <!-- begin footer -->
	<footer id="footer">
    	<!-- begin footer featured -->
        <div id="footer-featured">
        	<div class="container clearfix">
                <div class="three-fourths">
                    <h1><a href="?context=contact" title="Venir à  la ferme de l'Hort"><strong>Convaincu</strong>? Venez nous rendre <strong>visite</strong>.</a></h1>
                    <p>Découvrez comment nous rendre <a href="?context=contact" title="Se rendre à  la ferme de l'Hort">visite</a>, et venez déguster <a href="?context=nosfromages" title="Les fromages de la ferme de l'Hort">nos fromages.</a></p>
                </div>
                <div class="one-fourth column-last">
                    <a class="entry-image" href="#" title="Se rendre à  la ferme de l'Hort"><img src="images/Carte-position.png" alt="Mail"></a>
                </div>
            </div>
        </div>
        <!-- end footer featured -->	
        
        <!-- begin footer top -->
        <div id="footer-top">
        	<div class="container clearfix">
                <div class="one-fourth">
                    <div class="widget">
                        <h3>Text Widget</h3>
                        <p>Cras pretium elit quis nunc congue ut sollicitudin ante mattis. Nam cursus tellus vel libero pretium ut sagittis felis.</p>
						<p>Etiam laoreet nisl a dolor convallis euismod. Nulla felis velit, elementum ut fringilla ac, tincidunt eu justo.</p>
                    </div>
                </div>
                <div class="one-fourth">
                    <div class="widget twitter-widget">
                        <h3>Dernier Tweets</h3>
                        <div class="tweet"></div>
                    </div>
                </div>
                <div class="one-fourth">
                    <div class="widget newsletter">
                        <h3>Newsletter</h3>
                        <p>Inscrivez-vous à  notre newsletter pour êre informé des nouveautés et futur évènements.</p>
                        <div id="newsletter-notification-box-success" class="notification-box notification-box-success" style="display: none;">
                            <p>Votre inscription à  bien été validé.</p>
                            <a href="#" class="notification-close notification-close-success">x</a>
                        </div>
        
                        <div id="newsletter-notification-box-error" class="notification-box notification-box-error" style="display: none;">
                            <p>Une erreur est survenue lors de votre inscription. Merci de réessayer plus tard.</p>
                            <a href="#" class="notification-close notification-close-error">x</a>
                        </div>
                        <form id="newsletter-form" class="content-form" action="#" method="post">
                            <input id="newsletter" type="email" name="newsletter" placeholder="Entrer votre addresse email &hellip;" class="required">
                            <input id="subscribe" class="button" type="submit" name="subscribe" value="Souscrire">
                        </form>
                    </div>
                </div>
                <div class="one-fourth column-last">
                    <div class="widget contact-info">
                        <h3>Nous contacter</h3>
                        <div>
                            <p class="address">
								<strong>Addresse:</strong> 
									Simon Jansana,</br> 
									GAEC La ferme de l'Hort, </br>
									Chemin de la Garonne, </br>
									34380 ARGELLIERS
							</p>
                            <p class="phone"><strong>Phone:</strong> 06 26 01 31 27</p>
                            <!--<p class="fax"><strong>Fax:</strong> (123) 456-7890</p>-->
                            <p class="email"><strong>Email:</strong> <a href="mailto:office@company.com">lafermedelhort@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer top -->

        <!-- begin footer bottom -->
        <div id="footer-bottom">
        	<div class="container clearfix">
                <div class="one-half">
                    <p>Copyright &copy; 2015 Xavier PERIE. Created by <a href="http://themeforest.net/user/ixtendo">Ixtendo</a>.</p>
                </div>
        
                <div class="one-half column-last">
                    <ul class="social-links">
                        <!--<li class="twitter"><a href="#" title="Twitter" target="_blank">Twitter</a></li>-->
                        <li class="facebook"><a href="#" title="Facebook" target="_blank">Facebook</a></li>
                        <li class="google-plus"><a href="#" title="Google+" target="_blank">Google+</a></li>
                        <li class="linkedin"><a href="#" title="LinkedIn" target="_blank">LinkedIn</a></li>
                        <!--<li class="vimeo"><a href="#" title="Vimeo" target="_blank">Vimeo</a></li>
                        <li class="youtube"><a href="#" title="YouTube" target="_blank">YouTube</a></li>
                        <li class="skype"><a href="#" title="Skype" target="_blank">Skype</a></li>
                        <li class="digg"><a href="#" title="Digg" target="_blank">Digg</a></li>
                        <li class="delicious"><a href="#" title="Delicious" target="_blank">Delicious</a></li>
                        <li class="tumbler"><a href="#" title="Tumbler" target="_blank">Tumbler</a></li>
                        <li class="dribbble"><a href="#" title="Dribbble" target="_blank">Dribbble</a></li>
                        <li class="stumbleupon"><a href="#" title="StumbleUpon" target="_blank">StumbleUpon</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <!-- end footer bottom -->
	</footer>
	<!-- end footer -->  