<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Une erreur est survenue</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <p>{{exception.message}}</p>
        {% block javascripts %}{% endblock %}
    </body>
</html>
